__pycache__/
/.mypy_cache/
/.ruff_cache/

# Code coverage reports.
/.coverage*
/coverage.xml

# Terraform local data and transient state.
/terraform/.terraform
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup

/dist/
