__pycache__/
/.mypy_cache/
/.ruff_cache/

# Code coverage reports.
/.coverage*
/coverage.xml

# Terraform local data and transient state.
/.github/terraform/.terraform
/.github/terraform/terraform.tfstate
/.github/terraform/terraform.tfstate.backup

/dist/
